<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application android:name=".QuantumApp" android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="Quantum" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" android:requestLegacyExternalStorage="true" android:hardwareAccelerated="true" android:largeHeap="true">
        <activity
 android:name=".MainActivity"
 android:exported="true"
 android:launchMode="singleTask"
 android:clearTaskOnLaunch="false"
 android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mcc|mnc"
 android:alwaysRetainTaskState="true"
 android:excludeFromRecents="false"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.HOME"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
    </application>
</manifest>
